Checks: >
  llvm-include-order,
  llvm-namespace-comment,
  modernize-use-equals-default,hicpp-use-equals-default,
  performance-unnecessary-value-param,
  readability-braces-around-statements,hicpp-braces-around-statements,
  readability-isolate-declaration,
  llvm-namespace-comments,
  cppcoreguidelines-init-variables,
  cert-err58-cpp,
  cppcoreguidelines-avoid-non-const-global-variables,
  bugprone-narrowing-conversions,cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-avoid-magic-numbers,readability-magic-numbers,
  hicpp-uppercase-literal-suffix,readability-uppercase-literal-suffix,
  hicpp-use-auto,modernize-use-auto,
  hicpp-signed-bitwise,
  hicpp-noexcept-move,performance-noexcept-move-constructor,
  modernize-pass-by-value,
  readability-redundant-string-init,
  readability-redundant-member-init,
  performance-inefficient-string-concatenation,
  hicpp-use-nullptr,modernize-use-nullptr,
  cppcoreguidelines-pro-type-cstyle-cast,
  misc-unused-parameters,
  modernize-redundant-void-arg,
  readability-implicit-bool-conversion,
  cppcoreguidelines-pro-bounds-pointer-arithmetic,
  modernize-make-shared,
  modernize-loop-convert,
  cppcoreguidelines-pro-type-member-init,hicpp-member-init,
  cppcoreguidelines-prefer-member-initializer,
  readability-redundant-control-flow,
  modernize-return-braced-init-list,
  cppcoreguidelines-avoid-c-arrays,hicpp-avoid-c-arrays,modernize-avoid-c-arrays,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,hicpp-no-array-decay,
  cert-err09-cpp,cert-err61-cpp,misc-throw-by-value-catch-by-reference,
  bugprone-exception-escape,
  hicpp-move-const-arg,performance-move-const-arg,
  cppcoreguidelines-owning-memory,
  readability-const-return-type,
  readability-convert-member-functions-to-static,
  cppcoreguidelines-special-member-functions,hicpp-special-member-functions,
  modernize-use-nodiscard,
  google-explicit-constructor,hicpp-explicit-conversions,
  modernize-use-using,
  readability-avoid-const-params-in-decls,
  llvm-else-after-return,
  hicpp-use-override,modernize-use-override,

  performance-no-int-to-ptr,
  fuchsia-statically-constructed-objects,
  hicpp-deprecated-headers,modernize-deprecated-headers,
  portability-simd-intrinsics,
  concurrency-mt-unsafe,
  -bugprone-reserved-identifier,-cert-dcl37-c,-cert-dcl51-cpp,

# Those rules are used to find new checks that weren't decided as usable or not
# *,
# -altera-*,
# -llvmlibc-*,
# -fuchsia-*,
# -zircon-*,
# -modernize-use-trailing-return-type,
# -google-readability-*,
# -google-runtime-int,
# -misc-non-private-member-variables-in-classes,-cppcoreguidelines-non-private-member-variables-in-classes,
# -llvm-header-guard,
# -cppcoreguidelines-pro-type-reinterpret-cast,
# -cppcoreguidelines-pro-type-union-access,
# -cert-oop54-cpp,
# -misc-no-recursion,
# -bugprone-easily-swappable-parameters,
# -cppcoreguidelines-macro-usage,
# -readability-else-after-return,
# -misc-unused-alias-decls,
WarningsAsErrors:    ''
HeaderFilterRegex:   ''
FormatStyle:         none
InheritParentConfig: false
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 1
  - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: true
